.footer-wrapper {
    background-color: #2b2f47;
    color: #ffffff;
    border-radius: 350px 0 0 0;
    padding-top: 10px;
  }

  .footer-info-section {
    padding: 40px 20px;
  }

  .footer-info-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-info-box {
    flex: 1 1 200px;
    margin: 20px;
    min-width: 250px;
  }

  .footer-info-section h4 {
    font-weight: 600;
    margin-bottom: 20px;
  }

  .footer-info-detail p {
    line-height: 1.5;
    color: gainsboro;
  }

  .footer-link-box .footer-links {
    display: flex;
    flex-direction: column;
  }

  .footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .footer-links a:hover {
    color: #f8842b;
  }

  .footer-form input {
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    width: 100%;
    height: 45px;
    color: #ffffff;
    outline: none;
  }

  .footer-form input::placeholder {
    color: #ffffff;
  }

  .footer-form button {
    width: 100%;
    padding: 10px 0;
    background-color: #d0b76e;
    color: #ffffff;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .footer-form button:hover {
    transform: translateY(-3px);
  }

  .footer-contact-links {
    display: flex;
    flex-direction: column;
  }

  .footer-contact-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 5px 0;
  }

  .footer-contact-links a:hover {
    color: #fffbed;
  }

  .footer-social {
    display: flex;
    margin-top: 20px;
  }

  .footer-social a {
    font-size: 24px;
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
  }

  .footer-social a:hover {
    color: #fff7de;
  }

  .footer-bottom {
    text-align: center;
    padding: 25px 0;
  }

  .footer-bottom p {
    margin: 20;
  }

  .footer-bottom p a {
    color: inherit;
    text-decoration: none;
  }

  /* Responsividade */
  @media (max-width: 768px) {
    .footer-info-content {
      flex-direction: column;
      align-items: center;
    }
    .footer-info-box {
      margin: 10px 0;
      width: 90%;
      text-align: center;
    }
    .footer-social {
      justify-content: center;
    }
  }

  @media (max-width: 480px) {
    .footer-wrapper {
      padding-top: 100px;
      border-radius: 200px 0 0 0;
    }
    .footer-info-box h4 {
      font-size: 20px;
    }
    .footer-info-detail p, .footer-links a, .footer-contact-links a {
      font-size: 16px;
    }
    .footer-form input, .footer-form button {
      font-size: 16px;
    }
  }